.App {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100px; */
}

body {
  padding: 2em;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.task-parent {
  background-color: #fafafa;
  flex: 2;

  padding: 1em;
}

.task-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-task-parent {
  background-color: #f5f5f5;
  flex: 1;
  padding: 2em;
}

.row {
  /* display: flex; */

  background-color: #e0e0e0;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0;
}
